* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.grid-container img {
  max-width: 100%;
}
.grid-container {
  display: grid;
  flex-direction: column;
}

@media (width >=800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-direction: row;
    text-align: left;
  }
}
